

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #0a6716;
    color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #e71818;
}
.header{
    text-align: center;
    color: yellow;
    font-weight: 800;
}
.header{
    background-image: url('../images/mama-cass-combo-noble-rice.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 500px;

}
